.emp-page {
    background-color: #b3b3b3;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}



.emp-container { 
    width: 65%;
    border: 1px solid red;

    
}

.emp-box-t {
    display: inline-flex;
    height: 45px;
    background-color: #e6e6e6;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px 5px 0 0;
    box-shadow: 5px 5px 5px black;
}

.emp-box-r {
    height: 50px;
    background-color: rgb(255, 255, 255);
    border-top: 1px solid rgb(174, 166, 166);
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    box-shadow: 5px 5px 5px black;
    align-items: center;
}